[submodule "isolate"]
	path = isolate
	url = https://github.com/ioi/isolate.git
[submodule "static/startbootstrap-simple-sidebar"]
	path = static/startbootstrap-simple-sidebar
	url = https://github.com/BlackrockDigital/startbootstrap-simple-sidebar.git
