{% extends 'index.html' %}
{% block title %}{{ statement.name }}{% endblock %}
{% block sidebar %}
{% url 'contest-info' contest.pk as the_url %}
<a href="{{ the_url }}" class="list-group-item list-group-item-action bg-light">Overview</a>
{% if contest_state.0 == STATE.IN_PROGRESS %}
{% for problem in problems %}
{% url 'problem-page' contest.pk problem.problem_id as the_url %}
<a href="{{ the_url }}" class="list-group-item list-group-item-action bg-light">{{ problem.name }}
</a>
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}
<div class="nav justify-content-center">
    <h1 class="nav-item mt-4 text-primary"> {{ statement.name}} </h1>
</div>
<div class="nav justify-content-center">
    <p><span class="font-weight-bold">Формат ввода:</span> {{ statement.input_file }}</p>
</div>
<div class="nav justify-content-center">
    <p><span class="font-weight-bold">Формат вывода:</span> {{ statement.output_file }}</p>
</div>
<div class="nav justify-content-center">
    <p><span class="font-weight-bold">Ограничение по времени на тест:</span> {{ statement.time_limit }} мс</p>
</div>
<div class="nav justify-content-center">
    <p><span class="font-weight-bold">Ограничение по памяти на тест:</span> {{ statement.memory_limit }} мб</p>
</div>
<p>{{ statement.legend }}</p>
<b>Входные данные</b>
<p>{{ statement.input }}</p>
<b>Выходные данные</b>
<p>{{ statement.output }}</p>
<div class="d-flex justify-content-start">
    <div class="card">
        <div class=" card-header">
            Input examples
        </div>
        <ul class="list-group list-group-flush">
            {% for i in samples %}
            <li class="list-group-item"><samp>{{ i.input }}</samp></li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Output examples
        </div>
        <ul class="list-group list-group-flush">
            {% for i in samples %}
            <li class="list-group-item"><samp>{{ i.output }}</samp></li>
            {% endfor %}
        </ul>
    </div>
</div>
<b>Примечание</b>
<p>{{ statement.notes }}</p>
<h3>Submit your solution</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit!</button>
</form>
<h4 class="mt-4"> Your submissions: </h4>
<div class="d-flex justify-content-start mt-4 mb-4">
    <div class="card">
        <div class=" card-header">
            Status
        </div>
        <ol class="list-group list-group-flush">
            {% for submission in submissions %}
            <li class="list-group-item"><samp>
                    {% if submission.status == 0 %}
                    In queue...
                    {% elif submission.status == 1 %}
                    Compiling...
                    {% elif submission.status == 2 %}
                    Compilation Error
                    {% elif submission.status == 3 %}
                    Testing...
                    {% elif submission.status == 4 %}
                    Finished
                    {% elif submission.status == 5 %}
                    Error occured
                    {% endif %}
                </samp></li>
            {% endfor %}
        </ol>
    </div>
    <div class="card">
        <div class="card-header">
            Points
        </div>
        <ol class="list-group list-group-flush">
            {% for submission in submissions %}
            <li class="list-group-item"><samp>{{ submission.points }}/{{ total }}</samp></li>
            {% endfor %}
        </ol>
    </div>
    <div class="card">
        <div class="card-header">
            Links
        </div>
        <ol class="list-group list-group-flush">
            {% for submission in submissions %}
            <li class="list-group-item text-primary" type="button" data-toggle="modal"
                data-target="#viewSub{{submission.pk}}">
                View
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% for submission in submissions %}
<div class="modal fade bd-example-modal-xl" id="viewSub{{submission.pk}}" tabindex="-1" role="dialog"
    aria-labelledby="viewSub{{submission.pk}}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSub{{submission.pk}}Title">Submission details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-start">
                    <div class="card">
                        <div class=" card-header">
                            Subtask description
                        </div>
                        <ol class="list-group list-group-flush">
                            {% for subtask in subtasks %}
                            <li class="list-group-item"><samp>
                                    {{subtask.description}}
                                </samp>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="card">
                        <div class=" card-header">
                            Points
                        </div>
                        <ol class="list-group list-group-flush">
                            {% for subtask in subtasks %}
                            <li class="list-group-item">
                                <code>
                                    {% for runSubtask_info in runSubtask_infos %}
                                        {% if runSubtask_info.submission == submission and runSubtask_info.subtask == subtask %}
                                            {{runSubtask_info.points}}
                                        {% endif %}
                                    {% endfor %}
                                    / {{subtask.points}}
                                </code>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="card">
                        <div class=" card-header">
                            Details
                        </div>
                        <ol class="list-group list-group-flush">
                            {% for subtask in subtasks %}
                            <li class="list-group-item"><span type="button" data-toggle="collapse"
                                    data-target="#collapse{{submission.pk}}-{{subtask.subtask_id}}"
                                    aria-expanded="false" class="text-primary"
                                    aria-controls="collapse{{submission.pk}}-{{subtask.subtask_id}}">
                                    View
                                </span>
                                <div class="collapse" id="collapse{{submission.pk}}-{{subtask.subtask_id}}">
                                    <div class="card card-body">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>#</th>
                                                <th>Verdict</th>
                                                <th>Time (ms)</th>
                                            </tr>
                                            {% for runinfo in run_infos %}
                                            {% if runinfo.test.subtask.subtask_id == subtask.subtask_id and runinfo.submission.pk == submission.pk %}
                                            <tr>
                                                <td>{{ runinfo.test.test_id }}</td>
                                                <td>{{ runinfo.message }}</td>
                                                <td>{{ runinfo.time }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="container bg-dark mt-5">
                    <pre><code class="text-light">{{submission.source}}</code></pre>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}