{% extends 'index.html' %}
{% block title %}Ranking{% endblock %}
{% block content %}
<table class="table table-hover" id="ranking">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            {% for problem in problems %}
            <th scope="col">{{problem.name}}</th>
            {% endfor %}
            <th scope="col">Total points</th>
        </tr>
    </thead>
    <tbody>
        {% for user in participants %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{user.user.username}}</td>
            {% for problem in problems %}
            <th scope="col" id="{{user.user.username}}_{{problem.id}}">0</th>
            {% endfor %}
            <td id="total_{{user.user.username}}">{{user.points}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("ranking")[1];
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 0; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    const rankingSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/ranking/' + "{{contest.pk}}" + '/');
    rankingSocket.onopen = function () {
        rankingSocket.send(JSON.stringify({
            'type': 'getRanking'
        }))
    }
    rankingSocket.onclose = function () {
        console.error('Could not connect!')
    }
    rankingSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const contestData = JSON.parse(data['contestData']);
        const participantData = JSON.parse(data['participantData']);
        console.log(participantData);
        for (let i = 0; i < participantData.length; i++) {

        }
    }

</script>
{% endblock %}